<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="pokeverse-title"> PokeVerse </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center center-content">
  <div id="container">
    <div class="top-section">
      <img src="../../assets/img/Pokemon_logo.svg" alt="Pokemon logo" />
    </div>

    <div class="app-description">
      <h2 >Bienvenido</h2>
      <p>
        Explora el mundo Pokémon y descubre sus características.
      </p>
    </div>

    <div class="bottom-section">
      <h6 class="capitalize" style="display: inline; color: white;">Creador por: </h6>
      <p style="display: inline">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.instagram.com/pepe._.roman/"
          >José Román</a
        >
      </p>
    </div>
  </div>
</ion-content>
