<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <h6>Pokedex</h6>
      <ion-toggle
        slot="end"
        mode="md"
        [checked]="darkMode"
        (ionChange)="toogleDarkMode()"
      >
      </ion-toggle>
      <ion-icon slot="end" name="moon"></ion-icon>
    </ion-item>

    <ion-accordion-group expand="inset">
      <ion-accordion value="first">
        <ion-item slot="header" color="rose">
          <ion-icon solt="stard" name="cog"></ion-icon>
          <ion-label>Opciones </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">

          <ion-item>
            <ion-input
              type="number"
              pattern="[0-9]*"
              label="Límite de carga Pokémones"
              label-placement="stacked"
              placeholder="Solo Números ejm:(100) min:10, max:100"
              min="10"
              max="100"
              [value]="limit"
              (ionChange)="onInputChange($event, true)"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-range
              style="margin-top: 10px"
              aria-label="Custom range"
              [min]="10"
              [max]="100"
              [value]="limit"
              [pin]="true"
              [ticks]="true"
              [snaps]="true"
              (ionChange)="onRangeChange($event)"
            >
              <ion-icon slot="start" name="remove"></ion-icon>
              <ion-icon slot="end" name="add"></ion-icon>
              <div slot="start">10</div>
              <div slot="end">100</div>
            </ion-range>
          </ion-item>

          <ion-item>
            <ion-label>Max. Pokémones selecionados</ion-label>
            <ion-input
            type="numeber"
            pattern="[0-9]*"
            label="Max. Pokémones selecionados"
            label-placement="stacked"
            placeholder="Min:2, Max:6"
            min="2"
            max="6"
            [value]="maxPokemonSelect"
            (ionChange)="onInputMaxSelect($event, true)"
            ></ion-input>
          </ion-item>

          <ion-toast
            style="color: red"
            [isOpen]="isToastOpen"
            message="El valor debe ser entre 10 y 100"
            [duration]="2000"
            (didDismiss)="onInputChange($event, false)"
          ></ion-toast>
          <ion-toast
            style="color: red"
            [isOpen]="isToastOpen"
            message="El valor debe ser entre 2 y 6"
            [duration]="2000"
            (didDismiss)="onInputChange($event, false)"
          ></ion-toast>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">

  <ion-fab *ngIf="selectedPokemonIds.length > 0" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small" color="tertiary">
     {{ selectedPokemonIds.length }}
    </ion-fab-button>
    <ion-fab-list side="top">

      <div *ngFor="let poke of pokemonSelectConsult">
        <ion-fab-button>
           <img [src]="poke.sprites?.front_default" [alt]="poke.name">
        </ion-fab-button>
      </div>

      <ion-fab-button>
        <ion-icon name="trash" color="danger" (click)="resetSelectPokemons()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button color="tertiary" size="small">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <div class="fixed-list">
        <ion-list style="border-radius: 10px; width: 200px;">
          <ion-item color="light" >
            <ion-select label="Filtro Seleciondo" label-placement="floating" [(ngModel)]="filterType">
              <ion-select-option value="type">Tipo</ion-select-option>
              <ion-select-option value="name">Nombre</ion-select-option>
              <ion-select-option value="id">ID</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-item color="light" style="border-radius: 10px; margin-top: 5px; width: 200px;">
          <ion-label>Valor:</ion-label>
          <ion-input label="valor"
          label-placement="stacked"
          placeholder="Ingrese en valor" type="text"  placeholder="Ingrese valor" [(ngModel)]="filterValue"></ion-input>
          <div *ngIf="filteredPokemon.length == 0">
            <ion-button color="tertiary" size="small" (click)="applyFilter(true)"><ion-icon name="search"></ion-icon></ion-button>
          </div>
          <div *ngIf="filteredPokemon.length > 0">
            <ion-button color="danger" size="small" (click)="cleanFIlter()"><ion-icon name="trash"></ion-icon></ion-button>
          </div>
        </ion-item>

        <ion-list style="border-radius: 10px; margin-top: 5px;">
          <ion-item *ngFor="let poke of filteredPokemon" color="light">
            <ion-avatar slot="start">
              <div
                (mousedown)="startPressTimer(poke.id!);"
                    (mouseup)="endPressTimer(poke.id!);"
                    (touchstart)="startPressTimer(poke.id!);"
                    (touchend)="endPressTimer(poke.id!);"
                style="display: flex; justify-content: center;"
                >
                  <img
                    *ngIf="poke.sprites?.front_default; else condition1ElseBlock"
                    [src]="poke.sprites?.front_default"
                    [alt]="poke.name"
                  />
                </div>

                <ng-template #condition1ElseBlock>
                  <div *ngIf="poke.sprites?.other?.['official-artwork']?.front_default; else condition2ElseBlock">
                    <div
                    (mousedown)="startPressTimer(poke.id!);"
                    (mouseup)="endPressTimer(poke.id!);"
                    (touchstart)="startPressTimer(poke.id!);"
                    (touchend)="endPressTimer(poke.id!);"
                    style="display: flex; justify-content: center;">
                      <img style="height: 90px; width: 90px;"
                        [src]="poke.sprites?.other?.['official-artwork']?.front_default"
                        [alt]="poke.name"
                      />
                    </div>
                  </div>
                  <ng-template #condition2ElseBlock>
                    <div
                    (mousedown)="startPressTimer(poke.id!);"
                    (mouseup)="endPressTimer(poke.id!);"
                    (touchstart)="startPressTimer(poke.id!);"
                    (touchend)="endPressTimer(poke.id!);"
                    style="display: flex; justify-content: center;">
                      <img style="height: 90px; width: 90px;"
                        src="../../assets/img/spriteNull.png"
                        [alt]="poke.name"
                      />
                    </div>
                  </ng-template>
                </ng-template>
            </ion-avatar>
            <ion-label>
              <h2 style="text-transform: capitalize;">{{ poke.name }}</h2>
              <p>ID: {{ poke.id }}</p>
              <p>Types: {{ getTypeNames(poke.types) }}</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <div *ngIf="filteredPokemon.length === 0" class="loading-text">
          No hay resultados
        </div>
      </div>
    </ion-fab-list>
  </ion-fab>

  <div id="container">

    <ion-grid *ngIf="loadedSkeleton">
      <ion-row style="display: flex; justify-content: center">
        <ion-col size="6" *ngFor="let a of [1,1,1,1,1,1]">
          <ion-card *ngIf="loadedSkeleton" class="ion-text-center">
            <ion-card-header>
              <ion-skeleton-text
                animated
                style="width: 20%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 40%"
              ></ion-skeleton-text>
            </ion-card-header>
            <ion-item>
              <ion-thumbnail style="height: 100px; width: 100px">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid *ngIf="!loadedSkeleton">
      <ion-row style="display: flex; justify-content: center">
        <ion-col size="auto" *ngFor="let poke of pokemon">
          <ion-card
            color="light"
            [style]="borderCardPokemon(poke.types)"
            class="card-equal-height"
          >
            <ion-card-header>
              <ion-card-title
                ><h5 style="text-transform: capitalize">
                  {{poke.name}}
                </h5></ion-card-title
              >
              <div *ngFor="let tipo of poke.types">
                <div
                  class="icon"
                  [class]="pokeClass(tipo.type?.name)"
                  style="margin-bottom: 3px"
                >
                  <img
                    [src]="pokeTypeSVG(tipo.type?.name)"
                    height="2%"
                    width="2%"
                  />
                </div>
                <ion-card-subtitle
                  class="typePokemon"
                  [style.background-color]="colorType(tipo.type?.name)"
                >
                  {{tipo.type?.name}}
                </ion-card-subtitle>
              </div>
            </ion-card-header>
            <ion-card-content
            (mousedown)="startPressTimer(poke.id!);"
                (mouseup)="endPressTimer(poke.id!);"
                (touchstart)="startPressTimer(poke.id!);"
                (touchend)="endPressTimer(poke.id!);"
             style="display: flex; justify-content: center;"
             >
              <img
                *ngIf="poke.sprites?.front_default; else condition1ElseBlock"
                [src]="poke.sprites?.front_default"
                [alt]="poke.name"
              />
            </ion-card-content>

            <ng-template #condition1ElseBlock>
              <div *ngIf="poke.sprites?.other?.['official-artwork']?.front_default; else condition2ElseBlock">
                <div
                (mousedown)="startPressTimer(poke.id!);"
                (mouseup)="endPressTimer(poke.id!);"
                (touchstart)="startPressTimer(poke.id!);"
                (touchend)="endPressTimer(poke.id!);"
                style="display: flex; justify-content: center;">
                  <img style="height: 90px; width: 90px;"
                    [src]="poke.sprites?.other?.['official-artwork']?.front_default"
                    [alt]="poke.name"
                  />
                </div>
              </div>
              <ng-template #condition2ElseBlock>
                <div
                (mousedown)="startPressTimer(poke.id!);"
                (mouseup)="endPressTimer(poke.id!);"
                (touchstart)="startPressTimer(poke.id!);"
                (touchend)="endPressTimer(poke.id!);"
                 style="display: flex; justify-content: center;">
                  <img style="height: 90px; width: 90px;"
                    src="../../assets/img/spriteNull.png"
                    [alt]="poke.name"
                  />
                </div>
              </ng-template>
            </ng-template>

          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Infinite Scroll -->
    <ion-infinite-scroll
      threshold="0px"
      (ionInfinite)="loadMorePokemon($event)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="dots"
        loadingText="Cargando más Pokémon..."
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>

